{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<div style="margin-bottom: 70px;">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <!-- Brand -->
        <div class="header">
            <div class="header_bottom">
                <div class="container">
                    <div class="logo">
                        <h3><a href="{% url 'home' %}" class="logo-first-word">Fertilizer
                                <span class="logo-span">Recommender</span></a></h3>
                    </div>
                </div>
            </div>
        </div>

        <!-- Toggler/collapsibe Button -->


    </nav>

</div>